@font-face {
    font-family: 'AntiQ-Bold';
    src: url(src/fonts/AntiQuasi-Bold.eot?#iefix) format('embedded-opentype'),  url(src/fonts/AntiQuasi-Bold.otf)  format('opentype'),
    url(src/fonts/AntiQuasi-Bold.woff) format('woff'), url(src/fonts/AntiQuasi-Bold.ttf)  format('truetype'), url(src/fonts/AntiQuasi-Bold.svg#AntiQuasi-Bold) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AntiQ-BoldItalic';
    src: url('src/fonts/AntiQuasi-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('src/fonts/AntiQuasi-BoldItalic.otf')  format('opentype'),
    url('src/fonts/AntiQuasi-BoldItalic.woff') format('woff'), url('src/fonts/AntiQuasi-BoldItalic.ttf')  format('truetype'), url('src/fonts/AntiQuasi-BoldItalic.svg#AntiQuasi-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marta-Regular';
    src: url('src/fonts/Marta.eot?#iefix') format('embedded-opentype'),  url('src/fonts/Marta.otf')  format('opentype'),
    url('src/fonts/Marta.woff') format('woff'), url('src/fonts/Marta.ttf')  format('truetype'), url('src/fonts/Marta.svg#Marta') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marta-Bold';
    src: url('src/fonts/Marta-Bold.eot?#iefix') format('embedded-opentype'),  url('src/fonts/Marta-Bold.otf')  format('opentype'),
    url('src/fonts/Marta-Bold.woff') format('woff'), url('src/fonts/Marta-Bold.ttf')  format('truetype'), url('src/fonts/Marta-Bold.svg#Marta-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marta-Italic';
    src: url('src/fonts/Marta-Italic.eot?#iefix') format('embedded-opentype'),  url('src/fonts/Marta-Italic.otf')  format('opentype'),
    url('src/fonts/Marta-Italic.woff') format('woff'), url('src/fonts/Marta-Italic.ttf')  format('truetype'), url('src/fonts/Marta-Italic.svg#Marta-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}
.low-screen {
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #091c3e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.low-screen img {
    width: 90%;
}
.low-screen.active {
    visibility: visible;
    opacity: 1;
    z-index: 2000;
}
@media screen and (max-width: 450px) {
    .low-screen {
        visibility: visible;
        opacity: 1;
        z-index: 2000;
    }
}
.game {
    width: 982px;
    position: relative;
    z-index: 200;
    transform: translate3d(0, 0, 0)
}

#symphony-app {
    font-family: 'Marta-Italic', serif;
    margin: auto;
    position: relative;
    line-height: unset;
    font-style: normal;
    font-size: initial;
}
#symphony-app p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#symphony-app h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#symphony-app .symphony-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    background-color: black;
}
#symphony-app .symphony-layer.active {
    opacity: .4;
    visibility: visible;
    z-index: 20;
}
#symphony-app .symphony-preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    visibility: hidden;
    transition: .25s;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}
#symphony-app .symphony-preloader .notes {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 40px;
}
#symphony-app .symphony-preloader .symphony-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#symphony-app .symphony-preloader .fly-notes {
    position: absolute;
    top: 0;
    bottom: 260px;
    right: 0;
    left: 0;
    margin: auto;
    transform-origin: center bottom;
    animation-name: spin;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#symphony-app .symphony-preloader.active {
    opacity: 1;
    visibility: visible;
}

#symphony-app .symphony-result {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -50px, 0);
    transition: .35s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #091c3e;
    width: 810px;
    height: 505px;
    z-index: 40;
}
#symphony-app .symphony-result .symphony-close {
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
}
#symphony-app .symphony-result .symphony-container {
    display: flex;
    align-items: center;
}
#symphony-app .symphony-result .symphony-container .symphony-left {
    width: 50%;
}
#symphony-app .symphony-result .symphony-container .symphony-left img {
    width: 135%;
}
#symphony-app .symphony-result .symphony-container .symphony-right {
    width: 50%;
    padding: 0 60px;
    box-sizing: border-box;
    color: white;
}
#symphony-app .symphony-result .symphony-container .symphony-right h3 {
    font-size: 30px;
    margin: 0;
}
#symphony-app .symphony-result .symphony-container .symphony-right p {
    font-size: 18px;
}
#symphony-app .symphony-result .symphony-container .symphony-right img {
    cursor: pointer;
}
#symphony-app .symphony-result.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0)
}

#symphony-app .symphony-pause {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -50px, 0);
    transition: .35s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 423px;
    height: 287px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#symphony-app .symphony-pause.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
#symphony-app .symphony-pause img {
    cursor: pointer;
}
#symphony-app .symphony-pause p {
    color: white;
    cursor: pointer;
    margin-top: 50px;
}
#symphony-app .pause-button {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -50px, 0);
    transition: .35s;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}
#symphony-app .pause-button img {
    position: absolute;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
}
#symphony-app .pause-button img.active {
    opacity: 1;
}
#symphony-app .pause-button.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

#symphony-app .symphony-share {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 30;
    color: white;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -50px, 0);
    transition: .35s;
}
#symphony-app .symphony-share.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
#symphony-app .symphony-share .symphony-top {
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 75px;
    box-sizing: border-box;
}
#symphony-app .symphony-share .symphony-top .symphony-left {
    position: relative;
    width: 50%;
    min-height: 300px;
}
#symphony-app .symphony-share .symphony-top .symphony-left .titul {
    margin-top: 0;
    font-size: 35px;
}
#symphony-app .symphony-share .symphony-top .symphony-left .nota {
    position: absolute;
    bottom: 0;
    right: 100px;
}
#symphony-app .symphony-share .symphony-top .symphony-left .social-group {
    display: flex;
}
#symphony-app .symphony-share .symphony-top .symphony-left .social-group img {
    margin: 0 6px;
    cursor: pointer;
}
#symphony-app .symphony-share .symphony-top .symphony-right {
    width: 50%;
}
#symphony-app .symphony-share .symphony-top .symphony-right .h {
    font-size: 24px;
    margin-top: 12px;
}
#symphony-app .symphony-rating-h2 {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 65px;
    right: 40px;
    width: 40%;
    transition: .35s;
}
#symphony-app .symphony-rating-h2.hide {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
}

.scroll__content {
    height:100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.scroll__content::-webkit-scrollbar { width: 0; }
.scroll__container {
    position: absolute;
    right: -19px;
    bottom: 0;
    top: 0;
    background: url(src/images/scroll-range.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1px 100%;
    width: 20px;
}
.scroll__point {
    position: absolute;
    right: -15px;
    height: 27px;
    width: 11px;
    background: url(src/images/scroll-point.png);
    cursor: pointer;
}
#symphony-app .rating-table-main {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 120px;
    right: 40px;
    width: 40%;
    max-height: 120px;
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
    transition: .35s;
}
#symphony-app .rating-table-main-signature {
    position: absolute;
    right: 40px;
    width: 40%;
    color: white;
    transition: .35s;
    top: 255px;
}
#symphony-app .rating-table-main.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 50px, 0);
}
#symphony-app .rating-table-main.hide + .rating-table-main-signature {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 50px, 0);
}
#symphony-app .rating-table-main .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 25px;
}
#symphony-app .rating-table-main .line .name {
    max-width: 65%;
    overflow: hidden;
}
#symphony-app .symphony-share .symphony-top .symphony-right .rating-table {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 140px;
}
#symphony-app .symphony-share .symphony-top .symphony-right .rating-table .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#symphony-app .symphony-share .symphony-top .symphony-right .rating-table .line.active {
    background: #006ac6;
}
#symphony-app .symphony-share .symphony-top .symphony-right .symphony-button {
    cursor: pointer;
    transition: .25s
}
#symphony-app .symphony-share .symphony-top .symphony-right .symphony-button.hide {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(50px, 0, 0)
}
#js-rate-name {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 3px solid #006ac6;
    color: white;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
}
#symphony-app .symphony-share .symphony-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #091d3c;
    padding: 75px;
    box-sizing: border-box;
    height: 20%;
}

#symphony-app .symphony-share .symphony-bottom .button-main-screen {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#symphony-app .symphony-share .symphony-bottom .button-main-screen img {
    margin-right: 10px;
}
#symphony-app .symphony-share .symphony-bottom .button-repeat {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 35px;
}
#symphony-app .symphony-share .symphony-bottom .button-repeat img {
    margin-right: 10px;
}




/* TODO: remove */
@media screen and (max-width: 1024px) {
    .sheet {
        margin-left: 0;
        margin-right: 0;
    }
}



@-webkit-keyframes spin {
    from {
        transform: rotate(-15deg)
    }
    to {
        transform: rotate(15deg)
    }
}
@-o-keyframes spin {
    from {
        transform: rotate(-15deg)
    }
    to {
        transform: rotate(15deg)
    }
}
@-moz-keyframes spin {
    from {
        transform: rotate(-15deg)
    }
    to {
        transform: rotate(15deg)
    }
}
@keyframes spin {
    from {
        transform: rotate(-15deg)
    }
    to {
        transform: rotate(15deg)
    }
}